
# Created by https://www.toptal.com/developers/gitignore/api/go
# Edit at https://www.toptal.com/developers/gitignore?templates=go

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

### Go Patch ###
/vendor/
/Godeps/

# End of https://www.toptal.com/developers/gitignore/api/go

# Environment variables
.env

# Bundled assets
bundle.go

# Svelte stuff
node_modules/
public/build/

.DS_Store

# Link to my personal .config/ortfo for convinience (I recommend it, it can be quite useful)
.config

mock-projects/
!mock-projects/*/.portfoliodb/
!mock-projects/neptune/cover-arts/renders/square.png

vite.config.ts.js
coverage


# frontend compilation output
dist 
# embedded compiled frontend (js, css, index.html and images)
statik/statik.go 
# compiled binaries
ortfo
ortfo-linux
ortfo-macos
ortfo-windows
!ortfo/

fixtures/

# built installers
installers/*.rpm
installers/*.deb
installers/*.slp
installers/*.lsb
installers/*.tgz
