html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

textarea, input {
	background: transparent;
}

/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-variation-settings: 'wght' 400;
} */

*:focus:not(:focus-visible) {
	outline: none;
}
*:focus:not(:focus-visible)::-moz-focus-inner {
	border: 0;
	outline: none;
}

*[role="button"] {
	cursor: pointer;
}

/* Fonts */
